extends ../layouts/common

block content
    if products
        .row
            each product in products
                .col-3.mb-3
                    .card.h-100
                        img.car-img-top(src= product.image)
                        .card-body
                            h5.card-title= product.name
                            p.card-text= product.description
                        .card-footer
                            a.btn.btn-primary(href="/cart/addCart/" + product.id) Add to cart
                
        nav
            ul.pagination.justify-content-center
                li.page-item(class=((currentPage > 2) ? "d-block" : "d-none"))  
                    a.page-link(href="/products") First Page

                li.page-item(class=((pagination[0] === 1) ? "disabled" : ""))
                    a.page-link(href="/products?page=" + (currentPage - 1)) Previous

                each page in pagination
                    li.page-item(class= (page === currentPage ? "active" : ""))
                        a.page-link(href="products?page=" + page)= page

                li.page-item(class=((pagination[2] < maxPage) ? "" : "disabled"))
                    a.page-link(href="/products?page=" + ((currentPage + 1))) Next

                li.page-item(class=((maxPage - currentPage > 1) ? "d-block" : "d-none"))
                    a.page-link(href="/products?page=" + maxPage) Last Page


