html
    head
        
        link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css")
        link(rel="stylesheet", href="/styles/custom.css")
    body
        block content 
        //- //Có thể dùng nhiều thể loại vd block footer, block navbar


        block footer
        h3(class="text-primary text-center") Copyright